<% /* 検索画面 */ %>
<% layout('layout') %>

<div class="error-wrapper" style = "margin-top:100px;">
  <div class="error">  <%= what %> "<%= todo %>" は<%= comment %></div>
</div>
<% if(what === "ToDoリスト"){ %>
  <a href="/" class="btn"><p>トップへもどる</p></a>
<%}else{%>
    <a href="/todos/<%= list.list_id %>" class="btn"><p>リスト <%= list.title %> へ戻る</p></a>
<%}%>
