<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Todo | <%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<% layout('layout') %>
<p class="main-title" ><%= title %></p>
<!-- 削除ボタン -->
<a href="/deleted/<%= list.list_id %>">
  <button type="submit" name="delete" value="<%= list.list_id %>" class="submit delete">
    <p>このリストを削除する</p>
  </button>
</a>

<% if (todoList.length) { %>
  <!-- todo一覧 -->
  <ul class="main-list">
    <% todoList.forEach(function(todoItem) { %>
      <li class="main-list__item">
        <div class="todo">
        <p class="list__title"><%= todoItem.todo %></p>
        <p class="list__date">作成:<%= todoItem.created_at %></p>
        <p class="todo__date">期限:<%= todoItem.timelimit %></p>

        <!-- todo削除ボタン -->
        <a href="/deleted/<%= list.list_id %>/<%= todoItem.todo_id %>">
          <button type="submit" name="delete" value="<%= todoItem.todo_id %>" class="delete__todo">
            <p>削除</p>
          </button>
        </a>

        <!-- 完了・未完了ボタン -->
        <form action="/todos/<%= list.list_id %>" method="post">
          <% if (todoItem.done) { %>
            <button type="submit" name="done" value="<%= todoItem.todo_id %>" class="submit comp-btn comp">
              完了
            </button>
          <% } else{ %>
            <button type="submit" name="done" value="<%= todoItem.todo_id %>" class="submit comp-btn uncomp">
              未完了
            </button>
          <% } %>
        </form>
        </div>
      </li>
    <% }); %>
    <!-- todo追加フォーム -->
    <li>
      <form action="/todos/<%= list.list_id %>" method="post" class="todo-form">
        <input type="text" name="todo" class="input" placeholder="新しいToDo" autofocus required>
        <input type="date" name="timelimit" class="input" value="<%= now %>" required>
        <button type="submit" class="submit comp-btn">追加</button>
      </form>
    </li>
    <!-- 戻るボタン -->
    <li>
      <a href="/" class="btn"><p>トップへもどる</p></a>
    </li>

  </ul>
<% } %>



<!-- todoがない時のエラー表示 -->
<% if (typeof noTodo !== 'undefined') { %>
    <div class="error-wrapper">
      <div class="error"><%= noTodo %></div>
    </div>
    <!-- todo追加フォーム -->
    <ul class="main-list" style="margin-top:20px;">
      <li class="main-list__item">
        <form action="/todos/<%= list.list_id %>" method="post" class="todo-form">
          <input type="text" name="todo" class="input" placeholder="新しいToDo" required>
          <input type="date" name="timelimit" class="input" value="<%= now %>" required>
          <button type="submit" class="submit comp-btn">追加</button>
        </form>
      </li>
    </ul>
    <a href="/" class="btn"><p>トップへもどる</p></a>
<% } %>
</body>
</html>
